<section>
    <h2>Entrar como participante</h2>
    <form action="/room/enter" method="POST">
        <label for="room-id" class="scr-only">Código da sala</label>
        <input type="number" name="room" id="room-id" placeholder="Código da sala" required>
        <button>
            <img src="/images/enter-room.svg" alt="Entrar na sala">
            Entrar na sala
        </button>
    </form>
</section>

<div class="separator">
    <div></div>
    <div>ou</div>
    <div></div>
</div>

<section>
    <h2>Crie a sua própria sala</h2>
    <a href="new-room" class="button outlined">
        <img src="/images/users.svg" alt="Criar Sala"> Criar Sala
    </a>
</section>