<section>
    <h2>Get in as participant</h2>
    <form action="/room/enter" method="POST">
        <label for="room-id" class="scr-only">Room ID</label>
        <input type="number" name="room" id="room-id" placeholder="Room ID" required>
        <button>
            <img src="/images/enter-room.svg" alt="Get in the room">
            Get in the room
        </button>
    </form>
</section>

<div class="separator">
    <div></div>
    <div>or</div>
    <div></div>
</div>

<section>
    <h2>Create your own room</h2>
    <a href="new-room" class="button outlined">
        <img src="/images/users.svg" alt="Criar Sala"> Create new room
    </a>
</section>