<section>
    <h2>Create your own room</h2>
    <form action="new-room/create-room" method="POST">
        <label for="room-pass" class="scr-only">Insert the room password</label>
        <input type="password" name="password" id="room-pass" placeholder="Insert the room password">
        <button>
            <img src="/images/users-white.svg" alt="Create room">
            Create room
        </button>
    </form>
</section>